@model LightsAndBites.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dislikes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dislikes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardPhoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
