@model LightsAndBites.Models.Restaurant

@{
    ViewData["Title"] = "Details";
    Rating userRating = (Rating)ViewData["UserRatings"];
    List<Rating> ratings = (List<Rating>)ViewData["Ratings"];
    List<Comment> comments = (List<Comment>)ViewData["Comments"];
}

<div>
    <h2>@Model.Name</h2>
    <hr />
    <div class="card overlay" style="width: 100%; padding-left:10px;">

        <br><br />
        <div style="text-align:center;">
            @{
                string embeddedmapsURL;
                string modelName;
                modelName = Model.Name.Replace(" ", String.Empty);

                embeddedmapsURL = @"https://www.google.com/maps/embed/v1/place?q=" + modelName + "+" + Model.City.CityName + "&key=" + LightsAndBites.ApiKeys.ApiKey.mapsKey;

            }
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src=@embeddedmapsURL allowfullscreen></iframe>


            <hr style="width:75%; text-align:right" />
            <p>
                <strong> Comments</strong><br />
            </p>

            <br /><br /><br /><br />
        </div>
        <div>
            <div class="div-left">
                @if (userRating != null)
                {
                    if (userRating.IsPositive)
                    {
                        <p>You like this restaurant!</p>
                        <form action="http://localhost:65431/Recommendations/AddLike" method="post">

                            <!--string type, int id, bool isPositive-->
                            <input value="restaurant" name="type" hidden />
                            <input value="@Model.Id" name="locationId" hidden />
                            <input value="false" name="isPositive" hidden />
                            <button type="submit"><img src="~/images/dislike.png" style="width:12.5%" /></button>
                        </form>
                    }
                    else
                    {
                        <form action="http://localhost:65431/Recommendations/AddLike" method="post">

                            <!--string type, int id, bool isPositive-->
                            <input value="restaurant" name="type" hidden />
                            <input value="@Model.Id" name="locationId" hidden />
                            <input value="true" name="isPositive" hidden />
                            <button type="submit"><img src="~/images/fullHeart.png" style="width:12.5%" /></button>
                        </form>
                        <p>You dislike this restaurant!</p>
                    }
                }
                else
                {
                    <form action="http://localhost:65431/Recommendations/AddLike" method="post">

                        <!--string type, int id, bool isPositive-->
                        <input value="restaurant" name="type" hidden />
                        <input value="@Model.Id" name="locationId" hidden />
                        <input value="true" name="isPositive" hidden />
                        <button type="submit"><img src="~/images/fullHeart.png" style="width:12.5%" /></button>
                    </form>
                    <form action="http://localhost:65431/Recommendations/AddLike" method="post">

                        <!--string type, int id, bool isPositive-->
                        <input value="restaurant" name="type" hidden />
                        <input value="@Model.Id" name="locationId" hidden />
                        <input value="false" name="isPositive" hidden />
                        <button type="submit"><img src="~/images/dislike.png" style="width:12.5%" /></button>
                    </form>
                }

                <!--<input type="image" src="~/images/fullHeart.png" style="width:14.5%; padding-right:20px">-->
                <!--<input type="image" src="~/images/dislike.png" style="width:12.5%" /> -->
            </div>
            <br />
            <div class="div-right">
                @foreach (Comment c in comments)
                {
                    string text = c.UserComment;
                    string user = c.UserEmail;
                    <h3>@(user)</h3>
                    <p>@(text)</p>
                    <br /><br />
                }
            </div>
            <div class="div-right">
                <strong>Add your own comment below!</strong>
                <br />
                <!-- string type, int id, string commentData -->
                <form method="post" action="http://localhost:65431/Recommendations/AddComment">
                    <input value="restaurant" name="type" hidden />
                    <input value="@Model.Id" name="locationId" hidden />
                    <input type="text" onfocus="this.value=''" value="Insert comment here" name="commentData" style="border:1px solid; width:60%; padding:8px; border-color:blue;"><br />
                    <button type="submit" class="btn btn-primary">Post</button><br />
                </form>
            </div>
            <br />
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
