@model List<LightsAndBites.Classes.Recommendation>[]
@{
    ViewData["Title"] = "Index";
}

<!--
    model[0] = recommendations
    model[1] = new gems
-->

<h2>Index</h2>

@foreach (LightsAndBites.Classes.Recommendation r in Model[0])
{
    if (r.GetType() == typeof(LightsAndBites.Models.Bar))
    {
        Bar thisBar = (Bar)r;
        @Html.Display(thisBar.Latitude.ToString());
        @Html.Display(thisBar.Longitude.ToString());
    }
    else if (r.GetType() == typeof(LightsAndBites.Models.Restaurant))
    {
        Restaurant thisRestaurant = (Restaurant)r;
        @Html.Display(thisRestaurant.Latitude.ToString());
        @Html.Display(thisRestaurant.Longitude.ToString());
    }
    else if (r.GetType() == typeof(LightsAndBites.Models.Events))
    {
        Events thisEvent = (Events)r;
        @Html.Display(thisEvent.Latitude.ToString());
        @Html.Display(thisEvent.Longitude.ToString());
    }
    else
    {
        @Html.Display("Bad data model.");
    }
}
