@model LightsAndBites.ViewModels.UserProfileCreateViewModel


@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="createcontainer">
        <hr />
        <div class="col">
            <center><h4>UserProfile</h4></center>
            <form asp-action="Create" id="create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <center>
                    <div class="form-group">
                        <label asp-for="UserProfile.Email" class="control-label"></label>
                        <input asp-for="UserProfile.Email" class="form-control" />
                        <span asp-validation-for="UserProfile.Email" class="text-danger"></span>
                    </div>
                </center>
                <center>
                    <div class="form-group">
                        <label asp-for="UserProfile.FirstName" class="control-label"></label>
                        <input asp-for="UserProfile.FirstName" class="form-control" />
                        <span asp-validation-for="UserProfile.FirstName" class="text-danger"></span>
                    </div>
                </center>
                <center>
                    <div class="form-group">
                        <label asp-for="UserProfile.LastName" class="control-label"></label>
                        <input asp-for="UserProfile.LastName" class="form-control" />
                        <span asp-validation-for="UserProfile.LastName" class="text-danger"></span>
                    </div>
                </center>
                <center>
                    <div class="form-group">
                        <label asp-for="UserProfile.Hometown" class="control-label"></label>
                        <input asp-for="UserProfile.Hometown" class="form-control" />
                        <span asp-validation-for="UserProfile.Hometown" class="text-danger"></span>
                    </div>
                </center>
                <div>
                    <center>
                        <label class="control-label">First Bar Category</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.BarCategoryIdOne, Model.BarCategoryList, "First Category")<br />
                        <label class="control-label">Second Bar Category</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.BarCategoryIdTwo, Model.BarCategoryList, "Second Category")<br />
                </div></center>
                <div>
                    <center>
                        <label class="control-label">Events One</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.EventCategoryIdOne, Model.EventsCategoryList, "First Events Category")<br />

                        <label class="control-label">Events Two</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.EventCategoryIdTwo, Model.EventsCategoryList, "Second Events Category")<br />

                        <label class="control-label">Events Three</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.EventCategoryIdThree, Model.EventsCategoryList, "Third Events Category")<br />
                </div></center>
                <div>
                    <center>
                        <label class="control-label">Restaurants One</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.RestaurantCategoryIdOne, Model.RestaurantCategoryList, "First Restaurant Category")<br />

                        <label class="control-label">Restaurants Two</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.RestaurantCategoryIdTwo, Model.RestaurantCategoryList, "Second Restaurant Category")<br />

                        <label class="control-label">Restaurants Three</label><br />
                        @Html.DropDownListFor(m => m.UserProfile.RestaurantCategoryIdThree, Model.RestaurantCategoryList, "Third Restaurant Category")<br />
                </div></center>
                <div class="form-group">
                    <center>
                        <!--<input type="submit" value="Create" class="create-btn">-->
                        <a asp-controller="Recommendations" asp-action="Index">Create</a>
</div></center>
                <div>
                    <center>
                        <a asp-action="Index">Back to List</a>
                </div>
                </center>
            </form>

        </div>
    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</body>
</html>
