@model LightsAndBites.Models.UserProfile

@{
    Layout = "_SignedInLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>UserProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hometown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hometown)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BarCategoryIdOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarCategoryIdOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BarCategoryIdTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarCategoryIdTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantCategoryIdOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantCategoryIdOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantCategoryIdTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantCategoryIdTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantCategoryIdThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantCategoryIdThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventCategoryIdOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventCategoryIdOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventCategoryIdTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventCategoryIdTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventCategoryIdThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventCategoryIdThree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
